*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Pacifico', sans-serif;
    background-color: rgb(173, 216, 230);
}

#content {
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

header h1 {
    font-size: 60px;
    text-transform: uppercase;
    color: white;
}

footer h3 {
    font-size: 26px;
}

header,footer {    
    margin-bottom: 20px;
}

section {
    display: inline-block;
}

main .card img {
    width: 100%;
    display: none;
}

.shadow {
    text-shadow: 1px 1px 2px rgb(112, 112, 112);
}

.card {
    background-color: white;
    width: 250px;
    height: 350px;
    background-image: url('../img/pattern.png');
    background-size: contain;
    margin: 15px 10px;
    border-radius: 15px;    
    vertical-align: middle;
    position: relative;
}

/* Posizionamento Scritta */
.card div {    
    font-size: 26px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Scritta Air Baloon */
.card .text-color-baloon {
    color: red;
}

.card:hover .text-color-baloon::after{
    content: "Air Baloon";
}

/* Scritta Bicycle */
.card .text-color-bicycle {
    color: green;
}

.card:hover .text-color-bicycle::after{
    content: "Bicycle";
}

/* Scritta Cruise */
.card .text-color-cruise {
    color: blue;
}

.card:hover .text-color-cruise::after{
    content: "Cruise";
}

/* Scritta Submarine */
.card .text-color-submarine {
    color: yellow;
}

.card:hover .text-color-submarine::after{
    content: "Submarine";
}

/* Scritta Tractor */
.card .text-color-tractor {
    color: maroon;
}

.card:hover .text-color-tractor::after{
    content: "Tractor";
}

.card:hover .text-color-tram::after{
    content: "Tram";
}

/* Scritta Tram */
.card .text-color-tram {
    color: orange;
}

.card:hover .text-color-bicycle::after{
    content: "Bicycle";
}

/* Impostazioni per la comparsa con Hover degli sfondi */
.card:hover {
    background-image: none;
}

.card:hover img {
    display: inline-block;
}
   
.card:hover div{
    z-index: 1;
}

