*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Pacifico', sans-serif;
    background-color: rgb(173, 216, 230);
}

#content {
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

header h1 {
    font-size: 60px;
    text-transform: uppercase;
    color: white;
}

footer h3 {
    font-size: 26px;
}

header,footer {    
    margin-bottom: 20px;
}

.radius {    
    border-radius: 15px;
}

.shadow {
    text-shadow: 1px 1px 2px rgb(112, 112, 112);
}

/* .clearfix {
    content: "";
    display: table;
    clear: both;
} */

/* Impostazioni delle dimensioni delle carte */
.card {
    background-color: white;
    margin: 15px 10px;
    position: relative;
    display: inline-block;
    /* float: left; */
}

.card .bg-card {
    width: 250px;
    height: 350px;
    background-size: contain;
}

.card .bg-pattern {
    background-image: url('../img/pattern.png');
}

.card .bg-image{
    background-position-x: center;
    background-position-y: 15%;
    background-repeat: no-repeat;
    display: none;
}

/* Sfondo Baloon */
.card .bg-baloon {
    background-image: url('../img/noun_air_balloon_3134741.png');
}

/* Sfondo Bicycle */
.card .bg-bicycle {
    background-image: url('../img/noun_Bicycle_3134821.png');
}

/* Sfondo Cruise */
.card .bg-cruise {
    background-image: url('../img/noun_Cruise_Ship_3134824.png');
}

/* Sfondo Submarine */
.card .bg-submarine {
    background-image: url('../img/noun_Submarine_3134738.png');
}

/* Sfondo Tractor */
.card .bg-tractor {
    background-image: url('../img/noun_Tractor_3134797.png');
}

/* Sfondo Tram */
.card .bg-tram {
    background-image: url('../img/noun_Tram_3134750.png');
}

/* Posizionamento Scritta */
.card span {    
    font-size: 26px;
    position: absolute;
    bottom: 10px;
    transform: translate(-50%, -50%);
    z-index: -1;
}

/* Scritta Air Baloon */
.card .text-color-baloon {
    color: red;
}

.card:hover .text-color-baloon::after{
    content: "Air Baloon";
}

/* Scritta Bicycle */
.card .text-color-bicycle {
    color: green;
}

.card:hover .text-color-bicycle::after{
    content: "Bicycle";
}

/* Scritta Cruise */
.card .text-color-cruise {
    color: blue;
}

.card:hover .text-color-cruise::after{
    content: "Cruise";
}

/* Scritta Submarine */
.card .text-color-submarine {
    color: yellow;
}

.card:hover .text-color-submarine::after{
    content: "Submarine";
}

/* Scritta Tractor */
.card .text-color-tractor {
    color: maroon;
}

.card:hover .text-color-tractor::after{
    content: "Tractor";
}

.card:hover .text-color-tram::after{
    content: "Tram";
}

/* Scritta Tram */
.card .text-color-tram {
    color: orange;
}

.card:hover .text-color-bicycle::after{
    content: "Bicycle";
}

/* Impostazioni per la comparsa con Hover degli sfondi */
.card:hover .bg-pattern{
    display: none;
}

.card:hover .bg-image {
    display: block;
}

.card:hover span{
    z-index: 1;
}

